.fondo {
background-color: rgb(42, 128, 230);
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;


}



.suelo {
background-color: rgb(133, 74, 25);
position: absolute;
top:600px;
height: 368px;
width: 1848px;
}

.canasta{
  position: absolute;
}

.postev {
background-color: rgb(111, 112, 112);
position: absolute;
width: 40px;
height: 450px;
margin-top: 350px;
margin-left: 175px;
border-radius: 15px;
}

.posted {
background-color: rgb(111, 112, 112);
position: absolute;
width: 40px;
height: 170px;
border-radius: 15px;
margin-top: 238px;
margin-left: 228px;
transform: rotateZ(50deg);
}

.tablero {
background-color: rgb(111, 114, 115);
position: absolute;
width: 18px;
height: 225px;
border-radius: 25px;
margin-left: 295px;
margin-top: 170px;
}

.aro {
background-color: rgb(244, 129, 23);
position: absolute;
border-radius: 25px;
width: 115px;
height: 20px;
margin-left: 320px;
margin-top: 270px;
}

.soporte_aro {
background-color: rgb(205, 121, 22);
position: absolute;
width: 20px;
height: 50px;
margin-left: 310PX;
margin-top: 270PX;
}

.red {
background-color: rgba(153, 153, 153, 0.56);
position: absolute;
width: 90px;
height: 90px;
margin-left: 335px;
margin-top: 290px;
}

.Jugador{
  position: relative;
  top: 400px;
  left: 120px;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}



.pierna {
  position: absolute;
  height: 150px;
  width: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

.pizquierda { left: 2em;}
.pderecha { right: 2em;
}

.pie1 {
background-color: rgb(124, 17, 17);
position: relative;
width: 50px;
height: 25px;
border-bottom-left-radius: 5px;
border-bottom-right-radius:5px;
border-top-left-radius: 18px;
}

.calcetin {
position: relative;
background-color: rgb(18, 18, 18);
width: 20px;
height: 38px;
left: 30px;
bottom:58px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}

.logo {
position: relative;
background-color: rgb(255, 255, 255);
border-radius: 9px;
width: 8px;
height: 5px;
left: 6px;
top: 4px;
}
.muslo {
position: relative;
background-color: rgb(176, 128, 55);
width: 18px;
height: 60px;
left: 31px;
bottom: 33px;
}

.pantalon {
position: relative;
background-color: rgb(17, 16, 15);
border-top-right-radius: 6px;
border-top-left-radius: 6px;
width: 40px;
height: 70px;
left: 18px;
bottom: 220px;
}

.cintapant {
position: relative;
background-color: rgb(124, 17, 17);
width: 40px;
height: 15px;
border-top-right-radius: 6px;
border-top-left-radius: 6px;
}

.cuerpo {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

.camiseta {
position: relative;
background-color: rgb(17, 16, 15);
height: 130px;
width: 80px;
bottom: 175px;
left: 23px;
border-radius: 6px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
}

.pecho {
position: relative;
background-color: rgb(176, 128, 55);
height: 27px;
width: 35px;
bottom: 305px;
left: 45px;
border-bottom-left-radius: 50%;
border-bottom-right-radius: 50%;
border-top-right-radius: 6px;
border-top-left-radius: 6px;
}

.texto-camiseta {
position: relative;
font-size: 30px;
color: white;
left: 20px;
bottom: -40px;
font-family: serif;
font-weight: bolder;
color: rgb(124, 17, 17);
-webkit-text-stroke: 2px white;
font-weight: bolder;
}
