.fondo {
background-color: rgb(42, 128, 230);
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;


}



.suelo {
background-color: rgb(133, 74, 25);
position: absolute;
top:600px;
height: 368px;
width: 100%;
z-index: -3;
}

.canasta{
  position: absolute;
}

.postev {
background-color: rgb(111, 112, 112);
position: absolute;
width: 40px;
height: 450px;
margin-top: 350px;
margin-left: 175px;
border-radius: 15px;
}

.posted {
background-color: rgb(111, 112, 112);
position: absolute;
width: 40px;
height: 170px;
border-radius: 15px;
margin-top: 238px;
margin-left: 228px;
transform: rotateZ(50deg);
}

.tablero {
background-color: rgb(111, 114, 115);
position: absolute;
width: 18px;
height: 225px;
border-radius: 25px;
margin-left: 295px;
margin-top: 170px;
}

.aro {
background-color: rgb(244, 129, 23);
position: absolute;
border-radius: 25px;
width: 115px;
height: 20px;
margin-left: 320px;
margin-top: 270px;
}

.soporte_aro {
background-color: rgb(205, 121, 22);
position: absolute;
width: 20px;
height: 50px;
margin-left: 310PX;
margin-top: 270PX;
}

.red {
background-color: rgba(153, 153, 153, 0.56);
position: absolute;
width: 90px;
height: 90px;
margin-left: 335px;
margin-top: 290px;
}

.Jugador{
  position: relative;
  top: 400px;
  left: 120px;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}



.pierna {
  position: absolute;
  height: 150px;
  width: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

.pizquierda { left: 2em;}
.pderecha { right: 2em;
}

.pie1 {
background-color: rgb(124, 17, 17);
position: relative;
width: 50px;
height: 25px;
border-bottom-left-radius: 5px;
border-bottom-right-radius:5px;
border-top-left-radius: 18px;
}

.calcetin {
position: relative;
background-color: rgb(18, 18, 18);
width: 20px;
height: 38px;
left: 30px;
bottom:58px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}

.logo {
position: relative;
background-color: rgb(255, 255, 255);
border-radius: 9px;
width: 8px;
height: 5px;
left: 6px;
top: 4px;
}
.muslo {
position: relative;
background-color: rgb(176, 128, 55);
width: 18px;
height: 60px;
left: 31px;
bottom: 33px;
}

.pantalon {
position: relative;
background-color: rgb(17, 16, 15);
border-top-right-radius: 6px;
border-top-left-radius: 6px;
width: 40px;
height: 70px;
left: 18px;
bottom: 220px;
}

.cintapant {
position: relative;
background-color: rgb(124, 17, 17);
width: 40px;
height: 15px;
border-top-right-radius: 6px;
border-top-left-radius: 6px;
}

.cuerpo {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

.camiseta {
position: relative;
background-color: rgb(17, 16, 15);
height: 130px;
width: 80px;
bottom: 175px;
left: 23px;
border-radius: 6px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
}

.pecho {
position: relative;
background-color: rgb(176, 128, 55);
height: 27px;
width: 35px;
bottom: 305px;
left: 45px;
border-bottom-left-radius: 50%;
border-bottom-right-radius: 50%;
border-top-right-radius: 6px;
border-top-left-radius: 6px;
}

.texto-camiseta {
position: relative;
font-size: 30px;
color: white;
left: 20px;
bottom: -40px;
font-family: serif;
font-weight: bolder;
color: rgb(124, 17, 17);
-webkit-text-stroke: 2px white;
font-weight: bolder;
}

.caonjunto_cabeza {
position: absolute;
transform: scale(0.18);
top: -445px;
left: -112px;
top: -428px;
}

.cabeza {
width: 350px;
height: 425px;
background-color: rgb(176, 128, 55);
border-bottom-left-radius: 45%;
border-bottom-right-radius: 45%;
border-top-left-radius: 15%;
border-top-right-radius: 15%;
z-index: 3;
}


.boca {
position: relative;
background-color: rgb(200, 105, 95);
width: 180px;
height: 20px;
left: 83px;
top: 290px;
border: thin solid rgb(161, 98, 81);
border-radius:45%;
border-width: 5px;
}

.linea_boca {
position: relative;
width: 180px;
height: 3px;
background-color: rgb(161, 98, 81);
top: 10px;
border-radius: 100% 50%;
}

.zona_ojos {
  position: absolute;
  top: 75px;
  width: 150px;
  height: 100px;
}

.ojo_iz {
position: relative;
width: 95px;
height: 42px;
background-color: white;
left: 55px;
top: 75px;
border: thin solid black;
border-radius: 75% 75%;
}

.pupila {
  position: relative;
  background-color: rgb(84, 45, 5);
  height: 43px;
  width: 45px;
  top: -1px;
  left: 23px;
  border: thin solid black;
  border-radius: 50%
}

.negro {
  position: relative;
  background-color: black;
  height: 10px;
  width: 10px;
  top: 20px;
  left: 18px;
  border-radius: 50%
}

.ojo_der {
position: relative;
width: 95px;
height: 42px;
background-color: white;
left: 200px;
top: 27px;
border: thin solid black;
border-radius: 75% 75%;
}


.cejas {
position: relative;
left: 56px;
top: 70px;
}

.ceja_de {
position: relative;
width: 100px;
height: 10px;
top: -123px;
left: 140px;
background-color: rgb(22, 23, 22);
border-radius: 100% 50%;
}

.ceja_iz {
position: relative;
width: 100px;
height: 10px;
top: -110px;
left: 0px;
background-color: rgb(22, 23, 22);
border-radius: 100% 50%;
}

.nariz {
position: relative;
background-color: rgb(149, 100, 17);
height: 30px;
width: 50px;
top: 195px;
left: 148px;
border-radius: 100%;
border: thin solid rgb(88, 58, 16);
border-radius:45%;
}

.cinta {
  position: relative;
  width: 350px;
  height: 85px;
  top: -63px;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 12%;
  border-bottom-right-radius: 12%;
  background-color: rgb(124, 17, 17);
}

.pelo {
  position: relative;
  background-color: rgb(29, 29, 29);
  height: 325px;
  width: 380px;
  top: -350px;
  left: -15px;
  border-radius: 100%;
  z-index: -1;
}


.cuello {
position: relative;
background-color: rgb(176, 128, 55);
width: 23px;
height: 25px;
left: 51px;
top: -350px;
}

.brazo_iz {
  position: absolute;
  background-color: rgb(176, 128, 55);
  height: 18px;
  width: 83px;
  border-radius: 6px;
  top: -170px;

  transform: rotateZ(20deg);
  z-index: -3;
  animation: brazos 1.5s linear 0s 1 forwards;
  /* animation: brazos 1.5s linear 0s infinite alternate; */
}

.brazo_dr{
  position: absolute;
  background-color: rgb(176, 128, 55);
  height: 18px;
  width: 105px;
  border-radius: 6px;
  top: -170px;

  transform: rotateZ(15deg);
  animation: brazos 1.5s linear 0s 1 forwards;
  /* animation: brazos 1.5s linear 0s infinite alternate; */
}

.pelota{
  position: absolute;
  background-color: rgb(186, 90, 20);
  height: 70px;
  width: 70px;
  border-radius: 100%;
  top: -225px;
  left: -50px;
  /* left: 885px;
  top:-25px; */
  animation: tiro 6s linear 1.5s 1 forwards;


}

.conjunto {
  animation: brazos 1.5s linear 0s 1 forwards;

}

@keyframes brazos {
  50% {transform: rotateZ(40deg)}
  100% {transform: rotateZ(5deg)}
}


@keyframes tiro {
  0% {  transform: rotate(-5deg); top: -200px; left: -50px;}
  50% {  top: -400px; right:  300px;}
  100% {  top: -600px; right:  500px;}
}
